[2015-11-16 18:22] pixelzoom opened #1 "design refresh"
"Models of the Hydrogen Atom" is being ported from Java, see http://phet.colorado.edu/en/simulation/hydrogen-atom.

Review the Java version to see how its design should be refreshed/revised.

@amyh-phet I believe that @ariel-phet assigned this to you. Feel free to handle however you feel best (Google Doc, comments in this issue, ...)  Note that this sim has 2 features in the Help menu (Legend, Tra

[2015-11-16 18:35] amyh-phet commented on #1
@pixelzoom   I'm currently working on a design doc in Google drive.  Do we have a time frame for when you will begin this port?

[2015-11-16 18:40] ariel-phet commented on #1
@amyh-phet I think that will depend a bit on what your review of the sim produces. If basically we are just making aesthetic changes (breaking into screens, face lifting etc), then I think @pixelzoom will be comfortable porting over the model and such. However, if we are envisioning any feature changes (ideally not), then it might be a longer time line before beginning the port.

[2015-11-16 18:45] pixelzoom commented on #1
I've already started porting.

[2015-11-16 18:48] pixelzoom commented on #1
Hard for me to envision how this sim could end up as multiple screens. Unless your considering a screen for each model? That was considered during the original Java design, and it was decided that being able to quickly compare models on the same screen was fundamental to the learning goals.  The number of models (6) would also be problematic for HTML5 sims, where are upper limit is typically 4.

[2015-11-16 18:55] amyh-phet commented on #1
I think that keeping all models on the same screen would be the best way to go.  The only way I could see this being multiple screens would be to have two screens - experimental and then prediction (with all models).  I don't think this is necessary and would make comparing experimental and predicted a bit more difficult.   I think the major changes would be in layout and updated artwork for thing

[2015-11-16 19:25] pixelzoom commented on #1
Moving experimental and prediction to separate screens would make it cumbersome to compare the various models ("prediction") to reality ("experment"), which was also fundamental to the learning goals, as I recall.

[2015-11-16 19:28] pixelzoom commented on #1
For the "Legend" feature, having it in the Help menu never made sense to me, since it's already shown in the play area - see screenshot below.    The only time it's *not* shown in the play area is when you switch to "Experiment", which would be easy to change.

![screenshot_63](https://cloud.githubusercontent.com/assets/3046552/11192290/79179ae0-8c5d-11e5-93f9-d0158bc81f80.png)

[2015-11-16 19:31] pixelzoom commented on #1
The "Transitions" dialog is related to the light control when it's in "Monochromatic" mode, so you can dial in specific wavelengths.  So it might be most useful if this dialog were made accessible from within the light control.

[2015-11-16 19:46] amyh-phet commented on #1
I think it makes sense to keep this sim to one screen.  Your suggestions for "Transitions" and "Legend" sound good - might need to rearrange a few of the control panels to make room for the transitions info.

[2015-11-17 17:40] pixelzoom commented on #1
@amyh-phet another design issue... In the java version, the playback control are at the bottom center of the screen (see screenshot above).  In HTML sims, that area is taken by the navigation bar, and screen-specific elements (controls, etc) cannot be put in (or on) the navigation bar.  So we'll need to find space for the playback controls in the play area (above the navigation bar).

[2015-11-17 18:17] amyh-phet commented on #1
@pixelzoom   I think we will run into many design issues with this one.   I'm working on a new layout today - lots of things to fit and not a lot of space.

I do have one question about the spectrometer from the Java version.  In Java, you could take a snapshot of the spectometer, save the snapshot, and then compare it to snapshots from other models or the experiment mode. I know in Java you could

[2015-11-17 20:19] pixelzoom commented on #1
It's not actually a separate window in Java, it just looks like a window. We can provide the same presentation and interaction in HTML.

[2015-11-17 23:59] pixelzoom commented on #1
@amyh-phet Assuming that we're going to replace the cheesy "ray gun"...  It would nice to reuse something from another HTML5 sim.

Consider using one of the lights from "Molecules and Light":
http://phet.colorado.edu/sims/html/molecules-and-light/latest/molecules-and-light_en.html

Or the light from "Beer's Law Lab" may be a better choice, because it has room for a big red button:
http://phet.colo

[2015-11-18 00:18] amyh-phet commented on #1
I agree the light ray gun needs to be updated and we should remove the "Turn on the gun" prompt when the sim opens.  In the current mock up I used a variation on the Beer's law light source.  The version I used is in the design mock up for the Rutherford sim.  I can send a screen shot to give you an idea-not at home right now so it will be a bit before I can send it.  I did ask for time at design

[2015-11-18 03:20] amyh-phet commented on #1
Here's what I have so far.  Happy to discuss further.
![light_source_models_h_atom](https://cloud.githubusercontent.com/assets/13650180/11231721/ab766ce4-8d68-11e5-8d72-11c11a16c89f.png)

[2015-11-18 15:46] pixelzoom commented on #1
Also consider using PhET's new standard "radio button group", which appears in other others. Here's what it looks like in this sim:

![screenshot_68](https://cloud.githubusercontent.com/assets/3046552/11245641/eb919700-8dd0-11e5-8a28-d141122a103a.png)

[2015-11-19 21:14] pixelzoom opened #2 "generalize LaserPointerNode"
It's now used in MOTHA, BLL, bending-light.

[2015-11-25 19:00] pixelzoom commented on #2
In MOTHA, it's implement programmatically in LightNode.

In BLL, it's an image file (light.png) used in LightNode.

In bending-light, it's 2 image files (laser.png, laser_knob.png), with or without a "knob". The laser has a knob if it's both rotatable and translatable, no knob if it's only rotatable.  Very odd, because when a knob is present, the knob is used to do rotation.

[2015-12-08 06:28] ariel-phet opened #3 "MOTHA master checklist"
#Sim Port Checklist Template

## Design
- [ ] **Design doc created** (Date: //)
 - [ ] Make phethelp@gmail.com owner, share with phet-team
 - [ ] Add to [Master Doc List](https://docs.google.com/document/d/1yjT1oE95JG_evwob9LB_De-brD7JpfFM6iIL6pF812k/edit#)
- [ ] **Legacy sim docs/info gathered**
- [ ] **Learning goals and standards identified** (Date: //)
- [ ] **Design concept complete**  (Date:

[2015-12-10 18:01] pixelzoom commented on #2
The name LightNode is a bit too generic for this.  How about LaserPointerNode?

Here's the node:
![screenshot_95](https://cloud.githubusercontent.com/assets/3046552/11723781/5884090c-9f2d-11e5-8c25-8339bd97c6a6.png)

Here's a real laser pointer:
http://martinjclemens.com/laser-pointers-the-new-ufo-menace/

@samreid What do you think about the name LaserPointerNode? Or something else?

[2015-12-10 20:39] pixelzoom commented on #2
Generalization is done.  Remaining tasks:

• move to scenery-phet, change namespace
• address memory leak in sun (see TODO in code, line 86)
• use in beers-law-lab
• create issue to use in bending-light

[2015-12-11 03:57] samreid commented on #2
LaserPointerNode is the best name I've heard so far, with LaserNode a close second.

[2015-12-23 18:55] pixelzoom commented on #2
In https://github.com/phetsims/models-of-the-hydrogen-atom/commit/29b5edf977023ff83f4fe60a81a94055e1fe787a, I removed the short-circuit of `button.dispose`, after adding stubs to sun buttons.  Note that LaserPointerNode will leak until those stubs are implemented.

[2015-12-23 21:09] pixelzoom commented on #2
LaserPointerNode is now used in beers-law-lab.LightNode, which had been instrumented for PhET-iO. LightNode was not calling `tandem.addInstance`, but it seemed like LaserPointerNode should.  But without an answer to https://github.com/phetsims/beers-law-lab/issues/131, I''m not sure.

Assigning to @samreid to:

(1) Verify that it's correct to call `tandem.addInstance` in LaserPointerNode, and

(2)

[2016-01-10 02:57] samreid commented on #2
The formatting is inconsistent here, I'll choose the most prevalent style which appears in 3 of the 4 sites:

[code]

[2016-01-10 03:03] samreid commented on #2
I noticed this line:

[code]

This means any children passed in through the options would be overwritten.  Two potential solutions to this:
* assert that options.children is undefined or empty array before setting it
* append to the children array instead of overwriting it.

I'll leave a checkbox here for when this comment has been addressed:
- [ ] comment addressed

[2016-01-10 03:07] samreid commented on #2
I noticed this default:

[code]

But I thought we had decided that common code wouldn't expand touch areas by default?

[2016-01-10 03:09] samreid commented on #2
We spent time on ProbeNode making sure the light came from the top left no matter how the ProbeNode was oriented, but it looks like the gradients in LaserPointerNode are hard-coded.  Should we address this?

[2016-01-10 03:10] samreid commented on #2
When developing a scenery-phet or sun component, it is good to add a sample usage in the example main.  Can we do that for LaserPointerNode?

[2016-01-10 03:21] samreid commented on #2
Is it redundant to put `@public` on a constructor?

[2016-01-10 03:26] samreid commented on #2
Review summary: LaserPointerNode.js is in good shape.  It is well organized and well-commented, nice work!  If I have any other suggestions after integrating into bending light, I'll create separate issues.  Back to you @pixelzoom.

[2016-01-10 03:47] samreid commented on #2
One more thought, I saw this code:

[code]

and realized it is a bit more idiomatic for us to use `&&` instead in cases like this:

[code]

[2016-01-10 18:57] pixelzoom commented on #2
In https://github.com/phetsims/models-of-the-hydrogen-atom/issues/2#issuecomment-170305861, @samreid said:

We decided that common-code that was not PhET-specific (sun, scenery, etc.) would not set defaults, that PhET-specific common-code (eg, scenery-phet) would set defaults that were appropriate for typical PhET uses.   LaserPointerNode is in scenery-phet, so it's setting a default that's typica

[2016-01-11 16:26] pixelzoom commented on #2
In https://github.com/phetsims/models-of-the-hydrogen-atom/issues/2#issuecomment-170306296, @samreid asked:

This is a more general discussion than I'd like to have here. If you want to pursue it, please open a general issue and label for developer-meeting.

[2016-01-11 16:32] pixelzoom commented on #2
Addressed comment https://github.com/phetsims/models-of-the-hydrogen-atom/issues/2#issuecomment-170305019:

[code]

[2016-01-11 16:35] pixelzoom commented on #2
Re https://github.com/phetsims/models-of-the-hydrogen-atom/issues/2#issuecomment-170305922, lighting direction...  Good point, I'll have a look.

@samreid How do you intend to address this in Bending Light, where the laser is dynamically rotated?

[2016-01-11 16:45] pixelzoom commented on #2
LaserPointerNode added to 'Components' screen of scenery-phet demo application.

[2016-01-11 16:54] pixelzoom commented on #2
Re lighting cues, there are 2 issues:

(1) The button:
The button may be either `RoundMomentaryButton` or `RoundStickyToggleButton`, neither of which has a convenient API for setting lighting cues.  The easiest thing to do would be to rotate the button, by adding something like `options.buttonRotation`.  Is that sufficient?

(2) The body
As exhibited in bending-light, the orientation of this node

[2016-01-11 17:25] pixelzoom commented on #2
I implemented what I described in https://github.com/phetsims/models-of-the-hydrogen-atom/issues/2#issuecomment-170616548 for lighting cues.  I needed to add one additional option, `highlightColorStop`, in order to shift the specular highlight.  See the scenery-phet demo for an example.

All issues have been addressed.  Back to @samreid for review.

[2016-01-12 03:54] samreid commented on #2
Changes look great, the last thing I would recommend for this file is to document (in the DEFAULT_OPTIONS) for the nozzle if its width is parallel to the laser direction or perpendicular.  For someone unfamiliar with the sim, they may think the nozzle width is how wide it is (perpendicular).

[2016-01-12 04:00] samreid commented on #2
I guess the same argument applies to the laser body itself.  The code appears that the width is along the parallel axis, which makes sense for a normal 2d rectangle, but not when referring to the dimensions of a laser pointer.  Imagine a laser pointer pointing up like in the MOTHA example above.  What would you call the laser pointer `width` in that image?

Not recommending a specific action at th

[2016-01-12 20:58] pixelzoom commented on #2
The JSdoc defines this component's default orientation:

`* Default orientation is pointing to the right. Origin is at right center (the edge of the output nozzle).`

As with any UI component, I would expect the semantics of all options to be relative to the non-transformed orientation.  And since we're dealing with the view coordinate frame, I would expect `bodySize` and `nozzleSize` (both `Dimen

[2016-01-13 00:28] samreid commented on #2
Sounds good since developers will have to be familiar with the default orientation.  I think we're done here, nice work.

[2016-01-13 00:28] #2 closed

[2016-01-13 01:05] pixelzoom commented on #2
Thanks for the thorough review!

[2016-07-07 20:18] ariel-phet commented on #3
update and look into legacy testing

[2016-07-21 20:00] pixelzoom opened #4 "things that should be in Teacher Tips"
This issue will be used to note things that should be in the teacher tips.

[2016-08-22 16:44] pixelzoom opened #5 "screen names needed"
The design document identifies the 2 screens as "Screen 1" and "Screen 2" (or in one place, "Screen 2 - Electron Energy Levels").   In order to structure the GitHub repository, I need to know what the actual screen names are.

[2016-08-22 18:45] amyh-phet commented on #5
@pixelzoom    Let's try Spectra as the label for Screen 1 and Energy Levels as the label for Screen 2.  I'll update the design doc to reflect this change.

[2016-08-22 18:59] pixelzoom commented on #5
Screen names assigned to GitHub directories and file names in @298d9e9604a74759489d099666578982e7806067.  Closing.

[2016-08-22 18:59] #5 closed

[2016-08-22 19:00] pixelzoom opened #6 "screen icons"
Icons needed for the screens.  They are not specified in the design doc. Not needed immediately, but sometime in the next few weeks.

[2016-08-22 20:07] amyh-phet commented on #6
@pixelzoom   Can do.  I'll likely get to these at the end of the week.

[2016-09-20 22:40] pixelzoom opened #7 "projector mode"
Does this sim need a "projector mode", as in rutherford-scattering?

If so, please enumerate which user-interface elements need to change, and how they need to change.

[2016-09-20 23:29] pixelzoom opened #8 "Revise icons for each model."
Redraw the icons for the models, as shown in this control panel:

![screenshot_22](https://cloud.githubusercontent.com/assets/3046552/18692433/45c3af10-7f57-11e6-8932-f2dabea3e466.png)

The icons from the Java version are all on black background, e.g.:

![billiardballbutton](https://cloud.githubusercontent.com/assets/3046552/18692458/7d592478-7f57-11e6-81d4-12f0209b2245.png)

To support a potentia

[2016-09-20 23:30] pixelzoom commented on #8
Also note that there is no asset (.ai) file for these icons in Unfuddle.  I don't recall how the PNG files were created - possibly by taking screenshots of the sim.

[2016-09-27 21:38] amyh-phet commented on #8
@pixelzoom    Any size requirements for these icons?

[2016-09-28 16:20] pixelzoom commented on #8
If you produce the .ai file, I can create the .png files.  The only requirement for the .ai file is that the icons should all have the same relative size.

[2016-09-28 16:21] pixelzoom commented on #8
... and putting all of the icons in 1 .ai file (moths-model-icons.ai ?) will make things easiest for me.

[2016-10-03 20:09] amyh-phet commented on #7
@pixelzoom   I think ideally a projector mode would be nice.  However, I recognize that many things such as icons for atomic models and spectrometer displays will not look good on a white background.  I'll look into how best to approach this and update here.

[2016-10-04 17:23] phet-steele opened #9 "Automated Testing Build Error (10/4/2016 10:30 AM)"
[code]

[2016-10-04 17:31] pixelzoom commented on #9
Fixed, closing.

[2016-10-04 17:31] #9 closed

[2016-11-05 21:09] samreid opened #10 "Uncaught Error: Assertion failed: Node.off was called but no listener was removed"
During automated fuzz testing:

Error: Assertion failed: Node.off was called but no listener was removed
    at window.assertions.assertFunction (http://localhost/assert/js/assert.js:23:13)
    at Node.offOverride [as off] (http://localhost/scenery/js/nodes/Node.js?bust=1478379875452:4474:17)
    at Node.removeEventListener (http://localhost/scenery/js/nodes/Node.js?bust=1478379875452:4396:19)

[2016-11-07 16:57] pixelzoom commented on #10
`SnapshotDialog` extends`Dialog`, which extends `Panel`.  This is a bug in `Panel.dispose`.  It's failing at Panel line 128:

[code]

Dialog is (imo) in bad shape (see https://github.com/phetsims/joist/issues/359), not production code. And I don't have time to address this where it should be addressed (which is not in MOTHA).  So I'm going to comment out the dispose function in `SnapshotDialog`, a

[2016-11-07 16:58] #10 closed

[2016-11-07 19:40] pixelzoom commented on #10
This was apparently caused by @7754d0a1ea95c345377edd200b32ccbd3ef74d95, and other sims are failing (e.g. rutherford-scattering, on start).

[2016-11-07 19:41] pixelzoom commented on #10
Reopening, assigned to @andrewadare.

[2016-11-07 19:42] pixelzoom commented on #10
@andrewadare Assign back to me when you've fixed Panel.dispose, and I'll restore the dispose call in SnapshotDialog.

[2016-11-07 21:46] andrewadare commented on #10
As mentioned in https://github.com/phetsims/sun/issues/212#issuecomment-258968887, the problem was not with Panel.dispose (which was done correctly), it was that the new Panel.disposePanel() method was shadowed in Rutherford Scattering. There were a few red herrings in this thread, but I think everything is resolved: Rutherford starts without errors now (for me), and I'm unable to reproduce a repo

[2016-11-07 22:06] pixelzoom commented on #10
Rutherford Scattering is working fine.

MOTHA is still failing when SnapshotsDialog.dispose calls Dialog.dispose. Steps to reproduce:

1. start the sim
2. go to Spectra screen
3. click on green '+' button to expand Spectrometer accordion box
4. click on camera icon (lower right in Spectrometer accordion box)
5. click on "View snapshots" button
6. click anywhere outside the snapshots dialog to dism

[2016-11-11 02:23] andrewadare commented on #10
@pixelzoom did 7b2779e fix this? Following steps 1-8 exactly, I am unable to reproduce on master.

[2016-11-11 02:29] andrewadare commented on #10
I see...I needed to uncomment `Dialog.prototype.dispose.call( this );` in SnapshotsDialog.js

[2016-11-22 01:46] pixelzoom commented on #7
Notes to self about implementation:
1. use scenery-phet.ColorProfile
2. support 2 profiles: default, projector
3. the query parameter should be `colorProfile=projector`
4. do we need to switch this dynamically via a 'Projector Mode' check box in Options dialog? (ala molecule-shapes)

[2017-01-31 17:29] phet-steele opened #11 "Automated Testing Lint Error (1/31/2017 10:00 AM)"
[code]

[2017-01-31 18:13] #11 closed

[2017-02-22 18:33] jonathanolson opened #12 "Node dispose not called on SnapshotsDialog"
Presumably due to #10 and https://github.com/phetsims/joist/issues/366:

[code]

currently fails assertions with:
[code]

[2017-02-22 18:33] jonathanolson commented on #12
Found as part of https://github.com/phetsims/scenery/issues/601.

[2017-02-22 21:25] oliver-phet opened #13 "User reported issue: Lyman series/Balmer lines"
However with you simulation of the hydrogen atom I have a small issue.
When investigating the atom model with monochromatic light the spectral lines are only draw for the Lyman series and not the Balmer lines. I need to put my laser on 656nm  and then only have a red spectral line.
If you could correct this, the experience would be complete.

[2017-03-14 16:47] phet-steele commented on #12
@pixelzoom, if this isn't too difficult, can you address this sooner rather than later? I only ask with the hope of cleaning up weekly automated testing (in which this error has been repeatedly occurring).

[2017-03-14 21:11] pixelzoom commented on #12
@phet-steele fixed (?) in above commit.  I'm traveling and did this rapidly, so apologies if it doesn't address the problem for some reason.   Please verify in master.

[2017-03-15 18:41] phet-steele commented on #12
@pixelzoom this did not fix the problem. It can wait until you return from traveling. Thank you for your time anyway!

[2017-03-16 18:26] pixelzoom commented on #12
@phetsteel It did indeed fix the problem, but introduced a new problem (different error message):

[2017-03-16 18:27] pixelzoom commented on #12
Note to self: reproduce this by running in requirejs mode with `?ea&fuzzMouse`.

[2017-03-16 18:32] pixelzoom commented on #12
To reproduce without fuzzMouse:

1. Go to Specta screen
2. expand Spectrometer accordion box
3. press snapshot (camera) button
4. press "View snapshots" button
5. Click outside of the snapshots dialog to dismiss it
6. press "View snapshots" button
7. Click on trash can button

This will cause the assertion failure.  Looks like it's because `SnapshotDialog.hide` also calls `dispose`, so `dispose` i

[2017-03-16 18:44] pixelzoom commented on #12
Here's what happens in the steps above:

4. press "View snapshots" button - creates an instance of SnapshotDialog (instance 1)
5. Click outside of the snapshots dialog to dismiss it - calls dispose on instance 1
6. press "View snapshots" button - creates a new instance of SnapshotDialog (instance 2)
7. Click on trash can button - calls dispose on instance 1 again.

So apparently something is keepi

[2017-03-16 18:53] pixelzoom commented on #12
There was a missing `numberOfSnapshotsProperty.unlink` in SnapshotDialog that was causing a reference to the dialog to be kept.  Fixed in above commit.

@phet-steele please verify in master.

[2017-03-31 15:14] oliver-phet opened #14 "User question: incorrect wavelength in Bohr model"

[2017-04-07 19:11] phet-steele commented on #12
Fixed!

[2017-04-07 19:11] #12 closed

[2017-05-04 17:48] amyh-phet commented on #14
@oliver-phet    Did the user include some sort of screen-shot with this report?  I can't reproduce the issue they are reporting.

[2017-05-04 18:24] oliver-phet commented on #14
Sorry, here's the screenshot!
![screenshot from 2017-03-30 23_50_59](https://cloud.githubusercontent.com/assets/5090275/25718807/ae28280a-30c4-11e7-8881-a12adc55b3ae.png)

[2017-05-04 18:45] amyh-phet commented on #13
@oliver-phet   Did the user provide any information about the model they were using when they noticed this behavior?  Trying to recreate issue but finding I need more information to adequately address their concern.

[2017-05-04 19:20] amyh-phet commented on #14
I was able to recreate this behavior.  Need to check into why a n=6 to n=5 transition results in an emission of a photon at 780 nm rather than at 7460 nm.

[2017-05-04 23:07] amyh-phet commented on #4
- Need to explain how the spectra are generated for Bohr model versus Schrodinger model.
- Need to explain why Schrodinger model is used for experiment rather than Bohr model.
- Need to address how to use monochromatic light source to generate spectra.

[2017-06-19 21:03] amyh-phet commented on #8
AI files emailed on 06/19/2017

[2017-06-19 21:21] amyh-phet commented on #6
Emailed on 06/19/2017.  Guess that took more than a week.

[2017-06-19 21:32] pixelzoom commented on #6
Thanks @amyh-phet, .ai file is checked in to github.

[2017-06-19 21:33] pixelzoom commented on #8
Thanks @amyh-phet, .ai file is checked in to github.

[2017-06-27 16:07] amyh-phet commented on #1
@pixelzoom   and @ariel-phet   I've added the AI files to the MOTHA folder in drive.   Mockups are updated as of 06/26/17, including projector model.

[2017-06-27 16:21] amyh-phet commented on #7
@pixelzoom  I do think switching dynamically via "Projector Mode" check box in Options dialog makes sense. Added projector mode mockups to design doc and included mockups in AI file.

[2017-09-25 03:08] pixelzoom commented on #13
@oliver-phet looks like we need more info here.

[2017-10-23 17:16] oliver-phet commented on #13
Haven't heard back from user in a month. Closing for now.

[2017-10-23 17:16] #13 closed

[2018-11-02 05:41] pixelzoom opened #15 "use BooleanProperty, NumberProperty, StringProperty"
Related to phetsims/axon#196.

[2019-08-11 17:27] pixelzoom commented on #8
I created new .png files from the .ai file.  These icons are going to need some more work.  See the comparison of Java icons and new icons in the screenshots below.

Before (Java png files):

<img width="309" alt="screenshot_1305" src="https://user-images.githubusercontent.com/3046552/62837263-e5b4f200-bc2a-11e9-8d94-ec39bddddd0f.png">

After (new png files):

<img width="311" alt="screenshot_1304

[2019-08-11 17:45] pixelzoom commented on #7
I the above commit, I added the Options dialog with "Projector Mode" checkbox, and basic support for color profiles in MOTHAColorProfile.   Still needed to (1) move colors into MOTHAColorProfile, and (2) specify what colors to use for projector mode.

[2019-08-11 17:58] pixelzoom opened #16 "convert to ES6"
This sim is should be converted to ES6.

- [x] `var` -> `const` or `let`
- [x] `inherit` -> `class`
- [x] arrow functions
- [x] no `self`

[2019-08-11 23:20] pixelzoom opened #17 "use Enumeration and EnumerationProperty"
For these Properties:

- [x] modelNameProperty
- [x] clockSpeedProperty
- [x] modeProperty

[2019-08-11 23:40] pixelzoom opened #18 "replace MOTHAFont with PhetFont"
replace MOTHAFont with PhetFont

[2019-08-11 23:55] pixelzoom commented on #17
Also `clockSpeedProperty`, `modeProperty`

[2019-08-12 00:18] pixelzoom commented on #16
Conversion to ES6 completed.

[2019-08-12 00:18] #16 closed

[2019-08-12 00:25] pixelzoom commented on #18
Done, closing.

[2019-08-12 00:25] #18 closed

[2019-08-12 00:39] pixelzoom opened #19 "Change Property setters and getters"
Change Property setters and getters.

- [x] `property.get()` -> `property.value`
- [x] `property.set( value )` -> `property.value = value`

[2019-08-12 01:35] pixelzoom commented on #17
Done, closing.

[2019-08-12 01:35] #17 closed

[2019-08-12 01:38] pixelzoom commented on #19
Done, closing.

[2019-08-12 01:38] #19 closed

[2019-08-12 02:29] pixelzoom commented on #7
Fleshed out color profile some more in the above commits.

[2019-12-11 19:24] jessegreenberg opened #20 "Use TimeControlNode for Play/Pause/Step buttons"
From phetsims/scenery-phet#561. A scenery-phet/TimeControlNode was created that combines the PlayPauseButton and StepForwardButton and includes PhET-iO and PDOM instrumentation. It should be used in this sim. Assigning to responsible dev.

[2019-12-11 19:28] pixelzoom commented on #20
Specifically, this should replace `MOTHA/TimeControls`, which predates the existence of `SCENERY_PHET/TimeControlNode`.

[2020-03-12 22:06] pixelzoom commented on #20
On 3/12/2020 I looked at using scenery-phet/TimeControlNode.  It only supports normal & slow speeds.  This sim needs normal, slow, fast.

[2020-03-12 22:10] jessegreenberg commented on #20
This will be added soon in https://github.com/phetsims/scenery-phet/issues/575.

[2020-04-07 19:23] pixelzoom commented on #20
This was done a couple of weeks ago, and I forgot to close.

[2020-04-07 19:23] #20 closed

[2022-04-01 16:56] pixelzoom opened #21 "Replace deprecated WavelengthSlider"
... as suggested in the `@deprecated` doc for WavelengthSlider:

[code]

So something like this in MonochromaticControls.js:

[code]

[2022-04-01 17:15] pixelzoom commented on #21
Actually, this is more complicated than just replacing with a Slider.   Here's what the control currently looks like:

![screenshot_355](https://user-images.githubusercontent.com/3046552/161311027-ce46eb75-e0a3-4127-9859-72ec0809b85a.png)

So in addition to a Slider, we need arrow buttons and a value that stays centered above the thumb.

[2022-04-19 23:36] pixelzoom opened #22 "Projector color profile issues"
A couple of things are not handling the 'projector' color profile properly:

- [ ] The value that appears above the wavelength slider. (Note that this is part of WavelengthSlider, which is deprecated, to be replaced in https://github.com/phetsims/models-of-the-hydrogen-atom/issues/21.)

- [x] Fast/Normal/Slow labels on the time-control radio buttons.

Screenshots for 'default' and 'projector' prof

[2022-05-23 21:01] pixelzoom opened #23 "credits"
Update credits for the HTML5 version of this sim.   The current credits are:

[code]

[2022-05-25 18:13] pixelzoom opened #24 "CT: Cannot read properties of null (reading 'transformMatrix')"
[code]

[2022-05-25 18:13] pixelzoom commented on #24
Reproduced locally with `?brand=phet&ea&debugger&initialScreen=1&fuzz`, with this stack trace:

[code]

[2022-05-25 19:06] jonathanolson commented on #24
Definite bug. `hasFill()`/`hasStroke()` should not be returning true if it's a Property with a null value. Seeing if the fix breaks anything.

[2022-05-25 21:36] KatieWoe opened #25 "CT: Emitters must include phetioType for each parameter or be marked as `phetioPrivate`"
[code]

[2022-05-26 00:10] pixelzoom commented on #25
Fixed in the above commit by uninstrumenting Emitters.  Verified in my working copy with:
`models-of-the-hydrogen-atom/models-of-the-hydrogen-atom_en.html?brand=phet-io&phetioStandalone&ea&fuzz&debugger`

I'll leave this open until I've verified that CT is happy.

[2022-05-26 20:13] #25 closed

[2022-06-01 15:51] pixelzoom opened #26 "Make typescript-eslint more strict for this repo"
Similar to https://github.com/phetsims/geometric-optics/issues/437

[2022-06-06 17:33] pixelzoom commented on #24
I haven't seen any problems in the sim or in CT.  @jonathanolson can this issue be closed?

[2022-06-07 02:02] jonathanolson commented on #24
Yes, thanks!

[2022-06-07 02:02] #24 closed

[2022-06-08 19:41] pixelzoom opened #27 "Assertion failure in PlumPuddingModel.moveElectron"
I'm in the middle of porting PlumPuddingModel, so this is not a big deal. But I figured I'd proactively create an issue, in case it shows up in CT.

[code]

Relevant code in PlumPuddingModel.ts:

[code]

[2022-06-08 19:43] pixelzoom commented on #14
Un-deferring, since development on this sim has resumed.

[2022-06-08 19:46] pixelzoom commented on #6
Un-deferring, since development has resumed for this sim.  @arouinfar is the new responsible designer, so assigning to her.  My guess is that icons will be needed around the beginning of September 2022.

[2022-06-08 19:46] pixelzoom commented on #3
Un-deferring, because developer has resumed for this sim.

[2022-06-08 19:48] pixelzoom commented on #1
Un-deferring, because developer has resumed for this sim.

@arouinfar If there's anything else you'd like changed about the design, now's the time. As I recall, there were open issues in the design doc.

[2022-06-08 19:49] pixelzoom commented on #4
Un-deferring, because developer has resumed for this sim.

[2022-06-08 19:50] pixelzoom commented on #8
Un-deferring, because developer has resumed for this sim.

No assignment yet, until I determine whether these should be created programmatically, or whether artwork will be needed.

[2022-06-08 19:55] pixelzoom commented on #7
Un-deferring, because development has resumed for this sim.

Status of this issue:
* MOTHAColors.ts contains color profiles for 'default' and 'projector'
* Projector Mode checkbox appears in the Options dialog, and it works
* Color Editor mode is supported in phetmarks

So I'm going to close this issue.  Adjusting the colors will be part of a more general issue, later in development.

[2022-06-09 19:23] pixelzoom commented on #26
This issue will be handled as part of https://github.com/phetsims/chipper/issues/1265.

Closing.

[2022-06-09 19:23] #26 closed

[2022-06-14 21:40] pixelzoom commented on #27
Fixed, closing.

[2022-06-14 21:40] #27 closed

[2022-06-14 21:48] pixelzoom opened #28 "Artwork needed for "Classical Solar System" model (Kaboom!)"
The "Classical Solar System" model has a "Kaboom" image (images/kaboom.png), that looks like this:

![kaboom](https://user-images.githubusercontent.com/3046552/173694585-e1dfa0d1-f944-4c54-967f-e03f884ee7fd.png)

Here it is in context, in the Java version. It is shown when the atom is destroyed.

<img width="1022" alt="screenshot_1697" src="https://user-images.githubusercontent.com/3046552/1736946

[2022-06-14 23:06] pixelzoom commented on #28
Here's how it currently looks in projector mode in the HTML5 version:

<img width="1031" alt="screenshot_1698" src="https://user-images.githubusercontent.com/3046552/173703635-116e4452-47fe-44cf-9db5-8f7142af3fb4.png">

[2022-07-05 17:57] pixelzoom opened #29 "Model of the Hydrogen Atom - publish 1.0 with PhET-iO, UI Sound, Alt Input"
This epic was started for Q2 2022.  Creating an issue to it can be linked to Quartly Planning project board.

[2022-07-05 18:12] pixelzoom opened #30 "Models of the Hydrogen Atom - publish 1.0"
This epic was started in Q2 2022. I'm retroactively creating this issue, so it can be linked to the Quartly Planning project board.

Features to be included:
* PhET-iO
* Alt Input
* UI Sound
* Dynamic Layout
* Color Profiles

[2022-07-05 18:13] pixelzoom commented on #30
This epic was started for Q2 2022. Creating an issue to it can be linked to Quartly Planning project board.

[2022-07-05 18:13] pixelzoom commented on #29
Duplicate of https://github.com/phetsims/models-of-the-hydrogen-atom/issues/30

[2022-07-05 18:13] #29 closed

[2022-07-05 18:47] pixelzoom opened #31 "Redesign the UI for selecting absorption wavelengths."
Related to #1 (design refresh) and https://github.com/phetsims/scenery-phet/issues/211 (wavelength slider)...

We currently do not have a wavelength slider that supports UV/IR wavelengths.  UV is essential for MOTHA, and that enhancement will be made in https://github.com/phetsims/scenery-phet/issues/211.

The Java vesion of wavelength slider had some additional functionality that appeared in the

[2022-07-05 18:57] pixelzoom opened #32 "Presentation of Transitions"
Related to #1 design refresh ...

In the Java version, selecting _Help > Transitions..._ opened the "Transitions" dialog, as shown below.

<img width="1019" alt="screenshot_1745" src="https://user-images.githubusercontent.com/3046552/177396263-43f081e8-a264-481d-8ccc-99e2c54eaeed.png">

For the HTML5 version, here's what the [design doc](https://docs.google.com/document/d/1BH23koSJwLpR1yUcOviiI2ix

[2022-07-05 19:06] pixelzoom opened #33 "Presentation of Electron Energy Level diagram"
Related to #1 design refresh...

In the Java version, the Electron Energy Level diagram was in an accordion box that covered the Legend.  It was a very odd UI.  When collapsed it was a checkbox:

<img width="1024" alt="screenshot_1747" src="https://user-images.githubusercontent.com/3046552/177397322-8dd28eab-c309-4f92-acf2-09a265b82129.png">

When expanded, it was an accordion box:

<img width="10

[2022-07-05 19:21] pixelzoom opened #34 "Reconsider design of Spectrometer snapshots"
Related to #1 design refresh...

The [HTML5 design doc](https://docs.google.com/document/d/1BH23koSJwLpR1yUcOviiI2ixrpHH0qBaksbplPk5NkU/edit?pli=1) adds what looks like radio buttons at the top of each snapshot in the Spectrometer:

<img width="616" alt="screenshot_1751" src="https://user-images.githubusercontent.com/3046552/177399110-a00620da-3060-461e-b3c1-a9a65c454cc8.png">

These are not in fa

[2022-07-05 19:28] pixelzoom opened #35 "Light and time controls are not visually separated/grouped."
Related to #1 design refresh ...

The Java version, while a little klunky, has good visual separation between the gun (aka light) controls and the time controls:

<img width="1024" alt="screenshot_1754" src="https://user-images.githubusercontent.com/3046552/177400875-caa7d876-18ef-4f12-8103-ca3ddb49316d.png">

In the HTML5 version, related controls are grouped together very well, creating a bit of

[2022-07-05 19:41] pixelzoom opened #36 "Labels for the de Broglie combo box"
Related to #1 design refresh ...

The de Broglie model has 3 representations, selectable via a combo box:

<img width="380" alt="screenshot_1756" src="https://user-images.githubusercontent.com/3046552/177401928-b84d897a-5be4-4ab5-bb7b-d1a0b37fc268.png">

Each of those views is a different **mapping of amplitude** to some visual characteristic, as follows:

* Radial view maps amplitude to radial di

[2022-07-06 20:47] arouinfar commented on #6
Looks like the .ai asset for the screen icons was checked in [here]( https://github.com/phetsims/models-of-the-hydrogen-atom/blob/master/assets/motha-screen-icons.ai), but the icons weren't exported and added to the images directory.

@pixelzoom here are the images for the screen icons. Please let me know if there is anything else you need here.
[energyLevelScreenIcon.png](https://user-images.gith

[2022-07-07 01:27] pixelzoom commented on #6
Thanks @arouinfar. I integrated the screen icons in the above commit. See screenshot below. Closing.

<img width="1218" alt="screenshot_1759" src="https://user-images.githubusercontent.com/3046552/177670679-91a131cd-6978-4ed8-bdd6-d98225858776.png">

[2022-07-07 20:37] pixelzoom commented on #6
Good catch. When I downloaded them from this issue, GitHub gave them nonsense file names.  Swapped in the above commit, screenshot below. Closing.

<img width="1169" alt="screenshot_1762" src="https://user-images.githubusercontent.com/3046552/177867004-aeb00100-ef32-496b-8a7e-59fc54f4f741.png">

[2022-07-07 20:37] #6 closed

[2022-07-13 17:58] KatieWoe opened #37 "CT: required tandems must be supplied"
[code]

[2022-07-13 20:43] pixelzoom commented on #37
Fixed in the above commit. Closing.

[2022-07-13 20:43] #37 closed

[2022-07-14 21:41] pixelzoom commented on #35
7/14/2022

For time controls, we'd like to reduce to 2 speeds, "normal" and "fast".  Make the "normal" speed a bit slower than it is.

Also decide if we want the Step button dt to be constant, or a function of the speed selected.

[2022-07-14 21:46] pixelzoom commented on #36
@ariel-phet suggested replacing the combobox with 3 radio buttons, and using icons instead of text.

[2022-07-14 22:01] pixelzoom opened #38 "Design for description of symbols"
7/14/2022 design meeting...

Decide how to present this:

<img width="135" alt="screenshot_1781" src="https://user-images.githubusercontent.com/3046552/179095827-2e5ff11f-681a-48cb-94be-3bc0be9786ba.png">

* Does it need to be an accordion box?
* Does it need a title? (Yes, if it's an accordion box.)
* What should the title be? I suggested that "Key' is more generally correct than "Legend", but ot

[2022-07-14 22:03] pixelzoom commented on #34
7/14/2022 design meeting:

The general feeling was:
* drop the things that look like radio buttons
* add an icon next to the model name
* number the snapshots

[2022-07-14 22:06] pixelzoom commented on #33
7/14/2022 design meeting:

I mentioned that I prefer the layout of the original Java sim.  The new layout has a lot of problems, and we can't fit everything in.

[2022-07-14 22:07] pixelzoom commented on #32
7/14/2022 design meeting:

Consensue was that an info button will be shown in the Electron Energy Level diagram, as shown in the HTML5 design doc.

[2022-07-14 22:19] pixelzoom commented on #31
7/14/2022 design meeting:

* @ariel-phet suggested adding another radio "UV" button that shows the zoomed-in part of the UV spectrum that has the absorption wavelengths.

* @matthew-blackman said that he things the term "Monochromatic" is important, and that is no longer in the HTML5 design, because we've changed to icons.

* @matthew-blackman suggested adding additional absortion wavelengths, for

[2022-07-19 19:33] pixelzoom commented on #22
Closing this because the only thing that's not handled (WavelengthSlider) will be going away.

[2022-07-19 19:33] #22 closed

[2022-07-21 17:50] arouinfar commented on #36
Here are a set of iconic radio buttons
<img width="259" alt="image" src="https://user-images.githubusercontent.com/8419308/180280272-565dbd4d-959d-41f5-8041-d4d32b9dfebd.png">

And here they are in context (screenshot uses Bohr model so the deBroglie ComboBox wasn't in the way)
<img width="743" alt="image" src="https://user-images.githubusercontent.com/8419308/180280123-ef128b6e-6b09-4145-b16b-a53

[2022-09-08 21:33] samreid commented on #7
As discovered in https://github.com/phetsims/chipper/issues/946, there are TODOs in the code referring to this issue.  Reopening.

[2022-09-08 21:36] pixelzoom commented on #7
TODO removed. Closing.

[2022-09-08 21:36] #7 closed

[2022-09-13 21:33] pixelzoom opened #39 "Add support for dynamic locale"
- [x] use Property instead of string for translated strings
- [x] add `"supportsDynamicLocale": true` to package.json and run `grunt modulify`
- [x] address dynamic layout problems

[2022-09-13 22:19] pixelzoom commented on #39
I've done the first parts of this. But I'm blocked on addressing layout issues until I can identify those issues, which requires https://github.com/phetsims/chipper/issues/1319 to be addressed.  So I'll come back to this.

[2022-09-13 22:34] pixelzoom commented on #36
@arouinfar where can I find these icons and there asset file(s)?

[2022-09-13 22:47] pixelzoom commented on #38
This change did not go over well in our 7/21/2022 design meeting. I've reverted to "Legend" in the above commit.

[2022-09-13 22:47] #38 closed

[2022-09-13 22:49] pixelzoom commented on #35
@arouinfar what would you like?  Do you want the dt for the Step button to be the same for both speeds?  Or should the dt be larger for "Fast"?

[2022-09-13 23:16] pixelzoom commented on #35
@arouinfar I've added a `timeScale` query parameter.  You give it 2 numbers, which multipliers for dt in Normal and Fast modes (in that order).  The default is `timeScale=1,2`.  Let me know what you'd like as the default.

[2022-09-13 23:25] pixelzoom commented on #4
From 7/21/2022 design meeting notes in the HTML5 design doc:

<img width="650" alt="screenshot_1873" src="https://user-images.githubusercontent.com/3046552/190026716-4d75bbd2-bfdb-4e21-8530-466954bd284e.png">

[2022-09-13 23:26] pixelzoom commented on #4
From 7/21/2022 design meeting notes in the HTML5 design doc:

<img width="633" alt="screenshot_1874" src="https://user-images.githubusercontent.com/3046552/190026798-40c78646-1ae1-4369-81fe-285d543b6504.png">

[2022-10-06 22:48] pixelzoom commented on #30
At Q4 2022 planning meeting on 10/6/2022, MOTHA was put on hold until further notice.

[2022-10-19 15:21] gambhirsharma opened #40 "[Documentation] Write a better README.md"
While exploring the repo it was challenging for me to navigate it.

A Better README file could solve this issue and encourage more developers to join this open-source project.

Things need to improve:
- Contribute Rules and Guidelines.
- All tech stack used in this project.
- A GitPod link.
- Provide live hosted simulations link.
- Provide some Screenshots of the projects.
- A short description of

[2022-10-19 15:37] pixelzoom commented on #40
Hi @gambhirsharma. Thanks for the input.

All PhET README.md files are generated automatically from templates.  There are different templates for published and unpublished simulations.

As noted in [the README.md for models-of-the-hydrogen-atom](https://github.com/phetsims/models-of-the-hydrogen-atom/blob/master/README.md):

So models-of-the-hydrogen-atom is an unpublished sim, still in developmen

[2022-10-19 15:44] gambhirsharma commented on #40
Ok, Now it's clear to me.

You can now close this issue.
Thanks for your time, Have a nice day ahead :)

[2022-10-19 16:31] pixelzoom commented on #40
👍🏻 closing.

[2022-10-19 16:31] #40 closed